<%= render 'shared/second-header' %>

<%= form_with url: cards_path, id: 'charge-form', class: 'card-form', local: true do |f| %>
  <div class="card-page">
    カード登録
  </div><br>
  <div class="card-form-wrap">
    <%= f.label :number, "【カード番号】" %><br>
    <%= f.text_field :number, class:"number", placeholder:"カード番号(半角英数字)", maxlength:"16" %>
  </div>
  <div class="card-form-wrap">
    <%= f.label :cvc, "【CVC】" %><br>
    <%= f.text_field :cvc, class:"cvc", placeholder:"カード背面にある3桁または4桁の番号", maxlength:"4" %>
  </div>
  <div class="card-form-wrap"><br>
    <p>有効期限</p>
    <div class="input-expiration-date-wrap">
      <%= f.select :exp_month, 1..12, {include_blank: "---"}, class:"exp_month" %>
      <p>月</p>
      <%= f.select :exp_year, 22..32, {include_blank: "---"}, class:"exp_year" %>
      <p>年</p>
    </div>
  </div>
  <div class="card-button-contents">
    <%= f.submit "登録する", class:"button", id:"button" %>
    <%=link_to 'もどる', user_path(current_user.id), class:"card-back-btn" %>
  </div>
<% end %>

<%= render 'shared/second-footer' %>